header {
    position: relative;
    font-weight: bold;
}

header .container {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  
  background-color: #4B596C;
  border-bottom: 1px solid rgba(91, 108, 131, 0.616);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin: 0;

  text-align: right;
  display: flex;
}

.userInfo{
  display: inline-block;
  margin-right: 30px;
  position: relative;
} 

.username{
  color: #fff;
  font-size: 110%;
  text-transform: uppercase;
}

.sub-menu{
  position: relative;
}

header .dropdown-list{
  text-align: left;
  right: 0;
  left: 0;
  transform: translate(0);
  margin-right: 0;
  color: #3C3C3C;
}

